<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sender
    usrname="billytaskalert@gmail.com"
    password="UIUC61802"
    from="billytaskalert@gmail.com"
    to="guyongzhou@gmail.com"
    server="smtp.gmail.com:587"
    subject="Task_Alert"/>
    
    <trigger
    name1="sleep" pid1="1234"
    name2="noideanothing" pid2="987654432"
    />

</config>
